<!--The content below is only a placeholder and can be replaced.-->
<!-- <div class="form-group">
    <div>
      <label>Sport</label>
    </div>
    <select [(ngModel)]="sport">
        <option *ngFor="let sport of sports">{{ sport.name }}</option>
    </select>
</div>
<p>You selected: {{sport}}</p> -->
<h4>Select Sport</h4>
<mat-form-field>
  <mat-label>Available Sports</mat-label>
  <mat-select [(value)]="sport">
    <mat-option value="hiking">Hiking</mat-option>
    <mat-option value="skiing">Skiing</mat-option>
    <mat-option value="surfing">Surfing</mat-option>
  </mat-select>
</mat-form-field>

<h4>Select Month</h4>
<mat-form-field>
  <mat-label>Months</mat-label>
  <mat-select [(value)]="month">
    <mat-option value="1">January</mat-option>
    <mat-option value="2">February</mat-option>
    <mat-option value="3">March</mat-option>
    <mat-option value="4">April</mat-option>
    <mat-option value="5">May</mat-option>
    <mat-option value="6">June</mat-option>
    <mat-option value="7">July</mat-option>
    <mat-option value="8">August</mat-option>
    <mat-option value="9">September</mat-option>
    <mat-option value="10">October</mat-option>
    <mat-option value="11">November</mat-option>
    <mat-option value="12">December</mat-option>
  </mat-select>
</mat-form-field>

<p>You selected: {{sport}} and {{month}}</p>


  
<agm-map [latitude]="lat" [longitude]="lng" (mapReady)="onMapLoad($event)">
  <!-- <agm-marker [latitude]="lat" [longitude]="lng" (mapReady)="onMapLoad($event)"></agm-marker> -->
</agm-map>



