<!--The content below is only a placeholder and can be replaced.-->
<!-- <div class="form-group">
    <div>
      <label>Sport</label>
    </div>
    <select [(ngModel)]="sport">
        <option *ngFor="let sport of sports">{{ sport.name }}</option>
    </select>
</div>
<p>You selected: {{sport}}</p> -->
<h4>Select Sport</h4>
<mat-form-field>
  <mat-label>Available Sports</mat-label>
  <mat-select [(value)]="sport">
    <mat-option value="hiking">Hiking</mat-option>
    <mat-option value="skiing">Skiing</mat-option>
    <mat-option value="surfing">Surfing</mat-option>
    <mat-option value="ballooning">Ballooning</mat-option>
    <mat-option value="paragliding">Paragliding</mat-option>
    <mat-option value="skydiving">Skydiving</mat-option>
    <mat-option value="cycling">Cycling</mat-option>
    <mat-option value="mountain biking">Mountain Biking</mat-option>
    <mat-option value="road cycling">Road Cycling</mat-option>
    <mat-option value="sandboarding">Sandboarding</mat-option>
    <mat-option value="snowboarding">Snowboarding</mat-option>
    <mat-option value="trail running">Trail Running</mat-option>
    <mat-option value="ziplining">Ziplining</mat-option>
    <mat-option value="abseiling">Abseiling</mat-option>
    <mat-option value="canyoing">Canyoning</mat-option>
    <mat-option value="coasteering">Coasteering</mat-option>
    <mat-option value="via ferrata">Via Ferrata</mat-option>
    <mat-option value="freediving">Freediving</mat-option>
    <mat-option value="kayaking">Kayaking</mat-option>
    <mat-option value="kitesurfing">Kitesurfing</mat-option>
    <mat-option value="rafting">Rafting</mat-option>
    <mat-option value="snowkiting">Snowkiting</mat-option>
    <mat-option value="sailing">Sailing</mat-option>
    <mat-option value="scuba diving">Scuba Diving</mat-option>
    <mat-option value="snorkelling">Snorkelling</mat-option>
    <mat-option value="standup paddling">Standup Paddling</mat-option>
    <mat-option value="wakeboarding (boat)">Wakeboarding (Boat)</mat-option>
    <mat-option value="wakeboarding (cable)">Wakeboarding (Cable)</mat-option>
    <mat-option value="windsurfing">Windsurfing</mat-option>
    <mat-option value="cliff diving">Cliff Diving</mat-option>
    <mat-option value="water trekking">Water Trekking</mat-option>
  </mat-select>
</mat-form-field>

<h4>Select Month</h4>
<mat-form-field>
  <mat-label>Months</mat-label>
  <mat-select [(value)]="month">
    <mat-option value="1">January</mat-option>
    <mat-option value="2">February</mat-option>
    <mat-option value="3">March</mat-option>
    <mat-option value="4">April</mat-option>
    <mat-option value="5">May</mat-option>
    <mat-option value="6">June</mat-option>
    <mat-option value="7">July</mat-option>
    <mat-option value="8">August</mat-option>
    <mat-option value="9">September</mat-option>
    <mat-option value="10">October</mat-option>
    <mat-option value="11">November</mat-option>
    <mat-option value="12">December</mat-option>
  </mat-select>
</mat-form-field>

<p>You selected: {{sport}} and {{month}}</p>

<button mat-raised-button (click)="search()">Search</button>


  
<agm-map [latitude]="lat" [longitude]="lng" (mapReady)="onMapLoad($event)">
  <!-- <agm-marker [latitude]="lat" [longitude]="lng" (mapReady)="onMapLoad($event)"></agm-marker> -->
</agm-map>



